.App {
  text-align: center;
  color: white;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;  /* Aligns content to the top */
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

.App-logo {
  height: 20vmin;  /* Adjust size as needed */
  pointer-events: none;
  margin-top: 20px;  /* Adds space at the top */
  margin-bottom: 20px;  /* Adds space below the logo */
}

.App-header {
  background-color: #20232a;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.Features {
  
  background-color: #20232a;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 100%;
  
}

ul {
  padding-left: 0;
  list-style: none;
}

li {
  margin-bottom: 10px;
}

