.App {
  text-align: center;
  color: white;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin-bottom: 20px;
}

.App-header {
  background-color: #20232a;
  padding: 20px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.Features, .Testimonials {
  margin: 20px auto; /* Centering the sections */
  padding: 20px;
  border-radius: 10px;
  background-color: #20232a;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 80%; /* Ensuring both sections have the same width */
  max-width: 600px; /* Optional: Prevents sections from becoming too wide on larger screens */
}

ul {
  padding-left: 0; /* Removes padding from the list */
  list-style: none; /* Removes bullets from the list */
}

li {
  margin-bottom: 10px; /* Adds space between list items */
}
